.container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  margin: auto;
}

.container > input {
  height: 200px;
  margin: auto;
  font-size: 40px;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}